/* You can add global styles to this file, and also import other style files */
.text-center {
  text-align: center;
}
.img-fluid {
  max-width: 100%;
}
.results {
  padding: 5px 10px;
  text-align: left;
  background-color: bisque;
  margin: 0 auto 10px;
  border: 1px solid rgb(248, 146, 146);
  max-width: 500px;
}
